body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: url('back.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  color: #000000;
  padding: 40px 20px;
  max-width: 500px;
  margin: auto;
}

.logo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin-bottom: 15px;
}

h1 {
  font-size: 30px;
  margin: 5px 0;
  color: white;
}

.desc {
  font-size: 10px;
  color: #c3c9de;
  margin-top: 1px;
  margin-bottom: 1px;
}

.socials {
  margin-bottom: 20px;
}

.button {
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  background: rgba(255, 255, 255, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  color: whitesmoke;
  text-decoration: none;
  transition: 0.3s;
}

.button i {
  font-size: 20px;
  margin-right: 9px;
  vertical-align: middle;
  color: #25D366;
}

.saluran {
  width: 25px;          /* ukuran kecil biar pas */
  height: 25px;
  border-radius: 50%;
  margin-right: 9px;
  vertical-align: middle;
}

.button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.02);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #ccc;
  margin-bottom: 10px;
}